<title>Appointments</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}




{% if user.is_authenticated %}

<div class="apps_layout">
    <h2 class="announcement_tags">User Info:</h2>
    <ul class="list-group fs-4 mt-3">
            <li class="list-group mt-2">Username: {{ user.username }}</li>
    </ul>
</div>

<!--Appointment Loop-->
{% if appointments.count > 0 %}
<div class="mt-5 ">
    <div class="apps_layout">
        <h2 class="announcement_tags">Appointments:</h2>
    
    <div class="apps_layout">
        {% for appointment in appointments %}
        <div class="list-group fs-4 border p-3 mb-3">
            <p class="user_apps">Day: {{ appointment.day }}</p>
            <p class="user_apps">Time: {{ appointment.time }}</p>
            <p class="user_apps">Service: {{ appointment.service }}</p>
            <div class="user_apps">
                <p class="poetsen_one">Need to change your appointment time? No problem!</p>
                <a class="btn base_btn" href="{% url 'userUpdate' appointment.id %}">Edit Time</a>
            </div>
            
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}


{% endif %}


{%endblock%}