{% load static %}

<link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poetsen+One&display=swap">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="myNav">
        <a href="{% url 'home' %}">Home</a>
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <a href="{% url 'adminOnly' %}">Upcoming Appointments</a>
            {% else %}
                <a href="{% url 'booking' %}">Book</a>
                <a href="{% url 'appointments' %}">View Appointments</a>
            {% endif %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'register' %}">Register/Log in Now!</a>
        {% endif %}
    </nav>
    

    <h3 class="piercing_name">Easy Piercy Lemon Breezy</h3>
    <div class="base_bckgrnd">
    <img class="logo_img" src="{% static 'logo.png' %}" alt="Logo"> 
    
    

    <main>
       
        {% block content %}
            {% if not user.is_staff %}
                <div class="d-flex justify-content-center form_container">
                    <div class="base_page">
                        <div class="text-center pt-5 pb-5">
                            <h3>I'm Bri, and I'm totally a piercer</h3>
                            <p class="poetsen_one">
                                Hi, I have been piercing for zero years and I highly enjoy it!
                                I love piercing people's hearts so I thought I'd try piercing other body parts! 
                                My needles are as sharp as my puns! I offer several fabulous services! Poking fun at others 
                                is never a good idea so let me poke you for fun and it only hurts you! 
                                I offer ear, nostril, septum, and navel piercings! 
                                Closed on Sundays because it's holy, but come by any other day of the week and I can make you holey!
                            </p>
                            <h3>This could be YOU!</h3>
                            <img class="base_img" src="{% static 'Impaled.jpg' %}" alt="Impaled">
                            <p class="poetsen_one">For cancellations call the shop at 1-800-pls-no</p>
                        </div>
                    </div>
                </div>
            {% else %}
            <div class="admin_page">
                <div class="text-center pt-5 pb-5">
                    {% comment %} <h1 class="display-1 cGreen me-2 ms-2">Welcome in!</h1> {% endcomment %}
                    
                    <p class="poetsen_one">A good pun is like a piercing, it leaves a lasting impression!
                    </p>
                    <img class="piercing_meme" src="{% static 'piercingmeme.jpeg' %}" alt="piercingmeme">
                
                </div>
            </div>
            {% endif %}
            </div>
    </main>


    <footer class="footer">
        Piercings: the perfect accessory for when you want to look tough, but also need waterproof mascara. Book with Bri today!
    </footer>

</body>
</html>
{% endblock content %}
