<title>Update Appointment</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}


{% if user.is_authenticated %}
<h1 class="text-center fPersian mt-3">Edit Appointment</h1>

<div class="booking_box">
    <form method="post" action="{% url 'userUpdate' id %}" class="me-2 ms-2" required>
        {% csrf_token %}
        
        <!--input time-->
        <h3 class="text-center fPersian mt-4">What Time works better?</h3>
        <div>
            <select class="form-select fs-3 text-center" name="time">
                {% for time in times %}
                <option value="{{time}}">{{time}}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit"  class="btn base_btn">Submit</button>

    </form>
</div>

{% endif %}

{% endblock %}